{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "useTabs": false,
  "endOfLine": "auto",
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "printWidth": 120
}
