{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "useTabs": false,
  "endOfLine": "auto",
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "printWidth": 120,
  "arrowParens": "avoid",
  "rangeStart": 0,
  "overrides": [
    {
      "files": "*.{js,jsx,ts,tsx}",
      "options": {
        "parser": "babel"
      }
    }
  ]
}
